<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48438169003-n20ffhg2rh4o8k62d4s24hs1un0kovkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48438169003-n20ffhg2rh4o8k62d4s24hs1un0kovkd</string>
	<key>API_KEY</key>
	<string>AIzaSyBKABqHAfPprle-P592WjXjMX5l6mhA7iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>48438169003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.onamission.onamission</string>
	<key>PROJECT_ID</key>
	<string>onamission-app</string>
	<key>STORAGE_BUCKET</key>
	<string>onamission-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48438169003:ios:2fc3a667e1e9e6400896ee</string>
	<key>DATABASE_URL</key>
	<string>https://onamission-app.firebaseio.com</string>
</dict>
</plist>